
table.jCalendar {
	border: 0px solid #a95600;
	background: #a95600;
    border-collapse: separate;
    border-spacing: 2px;
	margin-top: 1px;
}
table.jCalendar th {
	background: #8b3f00;
	color: #fff;
	font-weight: bold;
	padding: 3px 5px;
}

table.jCalendar td {
	background: #f1de92;
	color: #000;
	padding: 3px 5px;
	text-align: center;
}
table.jCalendar td.other-month {
	background: #e9dfaa;
	color: #aaa;
}
table.jCalendar td.today {
	background: #666;
	color: #fff;
}
table.jCalendar td.selected {
	background: #c0a374;
	color: #fff;
}
table.jCalendar td.selected.dp-hover {
	background: #dcba85;
	color: #fff;
}
table.jCalendar td.dp-hover,
table.jCalendar tr.activeWeekHover td {
	background: #fff;
	color: #000;
}
table.jCalendar tr.selectedWeek td {
	background: #f66;
	color: #fff;
}
table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover {
	background: #d5cc9b;
	color: #888;
}
table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover {
	background: #d5cc9b;
	color: #888;
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div.dp-popup {
	position: relative;
	background: #5b2900;
	font-size: 10px;
	font-family: arial, sans-serif;
	padding: 2px;
	width: 172px;
	line-height: 1.2em;
}
div#dp-popup {
	position: absolute;
	z-index: 199;
}
div.dp-popup h2 {
	font-size: 12px;
	text-align: center;
	margin: 4px 0;
	padding: 0;
	color: #FFF;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
	color: #FFF;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #000;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 6px;
	left: 6px;
	width: 6px;
	height: 9px;	
	line-height: 9px !important;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
	width: 6px;
	height: 9px;
	line-height: 9px !important;
	display: block;
	background: url('../images/datepicker/arw-back.gif') top right no-repeat;
	padding: 0 !important;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 6px;
	height: 9px;
	line-height: 9px !important;	
	display: block;
}
div.dp-popup div.dp-nav-next a {
	float: right;
	width: 6px;
	height: 9px;
	line-height: 9px !important;
	display: block;
	background: url('../images/datepicker/arw-fwd.gif') top right no-repeat;
	padding: 0 !important;
}
div.dp-popup a.disabled, div.dp-popup div.dp-nav-next a.disabled, div.dp-popup div.dp-nav-prev a.disabled {
	cursor: default;
	background-position: bottom left;
	
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}